.List {
  width: 100%;
}
.list-row {
  display: flex;
  flex-direction: column;
}
.list-item {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(155, 155, 201);
    color: white;
  }
}
