.ListPost {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ListPost-title {
  width: 100%;
  display: flex;
  justify-content: end;

  background-color: white;
  padding: 10px;
}
.btn {
  line-height: normal;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(143, 143, 212);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
.creet-post {
}
.ListPost-row {
  width: 100%;
  padding: 10px;
}
